<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

{% block mainmenu %}

<style>
   ul.tr {
    margin: 100;
    padding: 10px;
   }
   ul.tr li {
    display: inline;
    margin-right: 5px;
    font-family: "My Custom Font", Verdana, Tahoma;
    font-size: 18px;
    padding: 33px;
   }

</style>



<ul class="tr">
    {% for ind1 in menu%}
    <li><a href="{% url ind1.url_name %}">{{ind1.title}}</a></li>
    {% endfor %}
    <br>
    <br>
    <h1> {{title}} </h1>


</ul>
{% endblock mainmenu %}

{% block content %}

{% endblock content %}

</body>
</html>