{% extends 'garage_main/base.html' %}

{% block content %}
<style>
   ul.hr li {
    display: inline;
    margin-right: 15px;
    font-family: "My Custom Font", Verdana, Tahoma;
    font-size: 22px;
    padding: 20px;
   }
   ul.ar li {
    display: inline;
    margin-right: 5px;
    font-family: "My Custom Font", Verdana, Tahoma;
    font-size: 12px;
    padding: 3px;
   }
</style>

<ul class="hr">

        {% if cat_select == 0 %}
        <li> All </li>
    {% else %}
        <li><a href="{% url 'home' %}"> All </a></li>
    {% endif %}

    {% for ind1 in model %}
    {% if cat_select == ind1.id %}
    <li> {{ind1.name}} </li>
    {% else %}
    <li><a href="{{ ind1.get_absolute_url }}"> {{ind1.name}} </a></li>
    {% endif %}
    {% endfor %}
</ul>


<ul class="ar">
    {% for ind1 in posts %}
    {% if ind1.vendor %}
    <li>
        <p> {{ind1.pk}} | {{ind1.subgroup|truncatechars:7}} | {{ind1.vendor }} |
            {{ind1.time_create|timesince:ind1.time_update}} | {{ind1.get_absolute_url}}
        </p>
        <p class="link-read-post"><a href="{{ ind1.get_absolute_url }}">Читать пост
            </a> | {{ind1.time_update|date:"SHORT_DATE_FORMAT"}} | {{ind1.group_add.name}}</p>

        <hr>
    </li>
    {% endif %}
    {% endfor %}

 </ul>
{% endblock content %}

