{% extends 'garage_main/base.html' %}
{% load garage_main_tags %}


{% block content %}
<style>
   ul.hr li {
    display: inline;
    margin-right: 15px;
    font-family: "My Custom Font", Verdana, Tahoma;
    font-size: 22px;
    padding: 20px;
   }
   ul.ar li {
    display: inline;
    margin-right: 5px;
    font-family: "My Custom Font", Verdana, Tahoma;
    font-size: 12px;
    padding: 3px;
   }


</style>

<ul class="hr">
{% Models_Auto as model %}

    {% if cat_select == 0 %}
    <li> All</li>
    {% else %}
    <li><a href="{% url 'home' %}"> All </a></li>
    {% endif %}

    {% for ind1 in model %}
    {% if cat_select == ind1.id %}
    <li> {{ind1.name}}</li>
    {% else %}
    <li><a href="{{ ind1.get_absolute_url }}"> {{ind1.name}} </a></li>
    {% endif %}
    {% endfor %}
</ul>


{% AutoModels_link cat_select %}


{% endblock content %}

